html {
    font-family: Avenir, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    padding-bottom: 100px;
}

p {
    line-height: 20px;
    font-size: 18px;
    text-align: justify;
}

strong {
    font-weight: bold;
}

ul {
    list-style: disc;
}

/* NAVIGATION =============================================================== */
nav {
    background-color: #648880;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
}

.primary-nav a {
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.primary-nav a:last-child {
    padding-right: 0;
}

#group-name {
    position: absolute;
    left: 7em;
}

#motivation:hover, #analytics:hover, #home:hover, #stats:hover {
    color: #a9b2b9;
}

#stats-title {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
}

/* TEXT CONTAINER =========================================================== */
.text-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#stats-title-container {
    margin-left: 1em;
}

/* MAIN APP ================================================================= */

.container {
    text-align: center;
    margin: 100px auto;
	width: 90%;
    height: 550px;
    margin-bottom: 200px;
}

.title {
    color: #648880;
}

.container .title {
    text-align: left;
    margin-left: 3em;
}

#trend-app {
	margin: auto;
	width: 80%;
	height: 100%;
	border: none;
}

#help {
    text-align: left;
    margin-left: 150px;
}

#help li {
    margin-left: 50px;
}


/* TABLE ==================================================================== */
table {
    margin: auto;
    margin-bottom: 44px;
    width: 85%;
}

table:last-child {
    margin-bottom: 0;
}

th, td {
    padding-bottom: 22px;
    vertical-align: top;
    text-align: right;
}

thead th {
    color: #648880;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    line-height: 44px;
}

tbody td {
    border-top: 1px solid #dfe2e5;
    border-bottom: 1px solid #dfe2e5;
    padding-top: 21px;
}

tbody td:last-of-type {
    padding-right: 0;
}

.table-province {
    text-align: left;
}
